* {
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0%;
    box-sizing: border-box;
}

header{
    background: transparent;
    position: absolute;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    z-index: 2;
}

header .logoimage{
    display: flex;
    gap: 4rem;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.menu li{
    color: white;
    display: inline-block;
} 

.menu a:hover{
    color: #FFF;
}

.menu a:visited{
    color:#FFF;
}

nav img{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.container{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    z-index: 1;
}

.outer{
    position:absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
}

.details{
    left: 50%;
    top: 50%;
    text-align: center;
    padding-top: 300px;
}

@keyframes animate{
    0%,100%{
        background-image: url(./assets/images/praia.png);
    }
    25%{
        background-image: url(./assets/images/borealis.png);
    }
    50%{
        background-image: url(./assets/images/ny.png);
    }
}

.details h1 {
    font-size: 70px;
    color: white;
    padding-bottom: 49px;
}

.details h3 {
    color: #191970;
    font-size: 33px;
    text-align: center;
}

.details form{
    text-align: center;
    width: 650px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px #0019FF inset;
}

.message {
    font-size: 44.77px;
    text-align: center;
    background-color: #85B0BD;
    color: white;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 73px;
    padding-bottom: 73px;
}

.cards h2 {
    margin: 0%;
    color: #3CA6C8;
    font-size: 50px;
    text-align: center;
    padding-top: 59px;
    padding-left: 416px;
    padding-right: 416px;
    padding-bottom: 0px;
}

.cards h3 {
    margin: 0%;
    font-size: 44.77px;
    color: #3CA6C8;
    text-align: center;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 0px;
    padding-bottom: 73px;
}

.cards p {
    margin: 0%;
    font-size: 30px;
    color: #535353;
    text-align: center;
}

.jimin {
    position: relative;
    text-align: center;
}
  
.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

footer{
    display: flex;
    align-items: flex-end;
    margin:0%;
    width: 100%;
    height: 217px;
    flex-shrink: 0;
    border-radius: 50px 50px 0px 0px;
    background: #121D83;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}

.logorodape{
    display: block;
    margin: 0 auto;
    padding-left: 53px;
    padding-top: 44px;
    padding-bottom: 96px;
    width: 300.787px;
    height: 75px;
    flex-shrink: 0;
}

.rightsreserved{
    padding-left: 53px;
    padding-top: 168px;
    color: #FFF;
    text-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
}

.socialmedia{
    text-align: center;
    color: #FFF;
    /* normal blur */
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.30);
    font-size: 20px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}