*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo, .imglink{
    
    width: 200px;
    height: 54px;
    display: flex;
    justify-content: left;
    margin-right: 250px;
    margin-left: 30px;
}

ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:rgba(0, 0, 0, 0.76);
}

a:hover {
    background-color:rgb(234, 233, 233);
}

.login{
        padding: 0.5rem 1rem;
        background-color: rgba(40, 108, 130, 1);
        color: whitesmoke;
        border-color: rgba(40, 108, 130, 1);
        margin-left: 5rem;
        margin-right: 3rem;
        border-radius: 13px;
}
.login:hover {
    background-color:rgba(205, 234, 255, 1);
}