*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.76);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo, .imglink{
    
    width: 200px;
    height: 54px;
    display: flex;
    justify-content: left;
    margin-right: 250px;
    margin-left: 30px;
}

ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:rgba(0, 0, 0, 0.76);
}

a:hover {
    background-color:rgb(234, 233, 233);
}

.login{
        padding: 0.5rem 1rem;
        background-color: rgba(40, 108, 130, 1);
        color: whitesmoke;
        border-color: rgba(40, 108, 130, 1);
        margin-left: 5rem;
        margin-right: 3rem;
        border-radius: 13px;
}
.login:hover {
    background-color:rgba(205, 234, 255, 1);
}

.imgback{
    background:url(/img/fundo1QS.jpg) no-repeat;
    width: 100%;
    height: 720px;
    background-size: cover;
  background-position: center;
  margin-top: 70px;
  position: relative; 
}

 h1{
    color: rgb(241, 241, 241);
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 40%;
    font-size: 40px;
    padding: 0 0 0 5rem;


}

.text1 {
    font-size: 18px;
    text-indent: 2rem;
    justify-content: flex-start;
    width: 621px;
    height: 277px;
    margin-top: 6rem;
    position: absolute;
    margin-left: 2rem;
    align-items: center;
}

.imgback2{
 background: url(/img/italia1.jpg) no-repeat;
 width: 500px;
 height: 300px;
 background-size: cover;
 position: relative;
float: right;
background-position: center;
margin-top: 3rem;
border-radius: 30px;
margin-right: 2rem;
align-items: center;

}

.boxcolor{
    background: rgba(40, 108, 130, 1);
    width: 1199px;
    height: 415px;
    margin-top: 25rem;
    margin-left: 2rem;
    margin-right: 2rem; 
    display: flex;
    position: relative;
    border-radius: 30px;
   
}

.textbox{
    width: 800px;
    height: 400px;
    text-indent: 2rem;
    font-size: 18px;
    color: whitesmoke;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
    position: relative;
    display: block;
    margin-top: 7rem;
}

.imgback3{
    background: url(/img/vista-vertical-na-torre-eiffel-paris-franca_1258-3169.jpg)no-repeat;
    width: 259px;
    height: 384px;
    background-size: cover;
    display: flex;
    margin-top: 1rem;
    margin-right: 4rem;
    border-radius: 30px;
} 
.imgback4{
    background: url(/img/tokio1.jpg)no-repeat;
    width: 443px;
    height: 280px;
    margin-left: 2rem;
    margin-top: 4rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 443px;
   grid-gap: 2rem;
    border-radius: 30px;
    align-items: center;
}

.hero{
    background: blue;
    position: relative;
}
.imgback4{
    background: url(/img/tokio1.jpg)no-repeat;
    width: 443px;
    height: 280px;
    margin-left: 2rem;
    margin-top: 4rem;
    background-size: cover;
    border-radius: 30px;
    position: absolute;
}


.text3 {
    width: 733px;
    height: 308px;
    text-indent: 2rem;
    font-size: 18px;
    position: absolute;
    right: 0;
    margin-top: 6.5rem;
    margin-right: 2rem;
  }

  .bannerend{
    background: url(/img/canada.jpg)no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 25rem;
    position: relative;
  }

  .text4{
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 510px;
    height: 151px;
    margin-left: 24rem;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .buttondown{
    width: 120px;
    height: 47px;
    justify-content: center;
    align-items: center;
    background: rgba(40, 108, 130, 1);
    border-radius: 15px;
    color: whitesmoke;
    text-align: center;
    display: flex;
    margin-left: 36rem;
  }

  .buttondown:hover {
    background-color:rgba(205, 234, 255, 1);
}


/*footer*/
footer{
    display: flex;
    align-items: flex-end;
    margin:0%;
    margin-top: 70px;
    width: 100%;
    height: 217px;
    flex-shrink: 0;
    border-radius: 50px 50px 0px 0px;
    background: #121D83;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
}

.logorodape{
    display: block;
    margin: 0 auto;
    padding-left: 53px;
    padding-top: 44px;
    padding-bottom: 96px;
    width: 300.787px;
    height: 75px;
    flex-shrink: 0;
}

.rightsreserved{
    padding-left: 53px;
    padding-top: 168px;
    color: #FFF;
    text-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
}

.socialmedia{
    text-align: center;
    color: #FFF;
    /* normal blur */
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.30);
    font-size: 20px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.links{
    color: white;
    display: inline-block;
}

.links a:hover{
    color: #FFF;
}

.links a:visited{
    color:#FFF;
}

.links2{
    color: white;
    display: inline-block;
}

.links2 a:hover{
    color: #FFF;
}

.links2 a:visited{
    color:#FFF;
}

.botao{
    width: 160px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: #A4D9FF;
    border-radius: 15px;
    color: #121D83;
    text-align: center;
    display: flex;
    margin-left: 36rem;
  }



  

